@model HelloNameMVC.Models.NameViewModel

@{
    ViewData["Title"] = "Hello Message";
    //Layout = null;
}

<link rel="stylesheet" href="css/site.css">

<div>
    <p class="hello-text">Hello, @Model.UserName</p>
</div>