@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<link rel="stylesheet" href="css/site.css">

<div class="outer">
    <form asp-action="Index" class="inner" method="post">
        <label>Enter Name:</label>
        <br>
        <input class="rounded" type="text" name="UserName">
        <br>
        <input class="rounded" type="submit" value="send">
    </form>
</div>